.search{
    display: grid;
    grid-template-columns: 3.6fr 0.4fr;
    border-radius: 40px;
    background-color:whitesmoke;
    transition: all 0.2s;
}
.search:hover{
    background-color: white;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
}
.searchbar{
    display: inline-block;
    border-radius: 40px 0px 0px 40px;
    padding: 2px;
    padding-left: 10px;
    border-right: none;
    transition: all 0.3s;
}
.searchinput{
    outline: none;
    border: none;
    width:100%;
    height: 40px;
    background-color: inherit;
}
.searchicon{
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    display: inline-block;
    border-radius: 0px 40px 40px 0px;
}

.cardimage{
    width:100%;
    opacity: 0.4;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s;
}
.cardimage:hover{
    cursor: pointer;
    opacity: 0.9;
}

.cardd{
    border-radius: 10px;
    margin:5px 20px 50px 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transition: all 0.3s;
}
.cardd:hover{
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.6);
}
.cardcontent{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}