@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
.navbar{
    font-family: 'Cinzel', serif;
}
.navitem{
    transition: background-color 0.7s ;
}
.navitem:hover{
    color: black;
    background-color: #32CD32;
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}