.containerr{
    position: relative;
}
.containerr video{
    position: relative;
    z-index: 0;
}
.overlay{
    position: absolute;
    z-index:1;
    margin:48px 0px 10px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}


.cardimage{
    width:100%;
    opacity: 0.4;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s;
}
.cardimage:hover{
    cursor: pointer;
    opacity: 0.9;
}

.cardd{
    border-radius: 10px;
    margin:5px 20px 50px 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transition: all 0.3s;
}
.cardd:hover{
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.6);
}
.cardcontent{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}
