@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

.heading{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    color:white;
    background-color: black;
    padding: 8px;
    border-radius: 5px;
}
.loginform{
    transition: all 0.3s;
}
.loginform:hover{
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.linkst{
    transition:all 0.2s;
}
.linkst:hover{
    text-decoration: underline;
    color:royalblue;
    font-weight: bold;
    cursor: pointer;
}
